{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="row container">
        <div class="col-md-offset-1 col-md-11">
            <label> Фільтри</label>
            {% include 'app_news/filter.html' %}
            <hr>
            <table class="table">
                <thead>
                    <th>Стаття</th>
                    <th>Дата публікації</th>
                    {% if source == '0' %} <th>Джерело</th> {% endif %}
                    <th><img alt="FB shares" width="50px" src="{% static 'images/fb.jpg' %}"></th>
                </thead>
            {% for article in object_list%}
                <tr>
                    <td><a href="{% url 'news:news' pk=article.id %}">
                        {{ article.title }}</a>
                    </td>
                    <td>{{ article.datetime|date:"d-m-Y" }}</td>
                    {% if source == '0' %} <td>{{ article.source_name }}</td> {% endif %}
                    <td>{{ article.shares_fb_total }}</td>
                </tr>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock container %}
