{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="row container">
    <div class="col-md-offset-2">
    <a href="{{ object.link }}" target="_blank"><H3>{{ object.title }}</H3></a>
    <table class="table">
        <thead>
            <th>Час запросу</th>
            <th><br><img alt="FB shares" width="50px" src="{% static 'images/fb.jpg' %}"></th>
{#            <th>Total<br><img alt="FB total" width="50px" src="{% static 'images/fb.jpg' %}"></th>#}
            <th><img alt="VK shares" width="50px" src="{% static 'images/vk.jpg' %}"></th>
            <th><img alt="Tweet shares" width="50px" src="{% static 'images/tweet.jpg' %}"></th>
            <th>Відвідування</th>
            <th><img alt="Inet time" width="50px" src="{% static 'images/inet.jpg' %}"></th>
        </thead>
        <tbody>
            {% for share in shares %}
            <tr>
                <td>{{ share.datetime|date:"d-m-Y H:i" }}</td>
                <td>{{ share.shares_fb}}</td>
{#                <td>{{ share.fb_total}}</td>#}
                <td>{{ share.shares_vk}}</td>
                <td>{{ share.shares_twitter}}</td>
                <td>{{ share.attendance}}</td>
                <td>{{ share.internet_time|floatformat:3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <form id="xls_form" action="{% url 'news:xls' %}" method="get" )>
            <input type="hidden" name="pk" value="{{ object.pk }}">
            <button class="btn btn-success pull-right btn-lg" id="get_xls">Get file</button>
        </form>
    </div>
</div>
{% endblock container %}
