{% extends "base.html" %}

{% block container %}
    <div class="row container-fluid">
        <div class="col-md-4 col-md-offset-2">
            {% if last_news %}
            <table class="table">
                <thead>
                    <th>Article title</th>
                </thead>
            {% for each in last_news %}
                <tr height="60px">
                    <td>{{ each.title }}</td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <a class="btn btn-block btn-success " href="{% url 'news:get_new' %}">Get news</a>
        </div>
        <div class="col-md-4">
            {% if last_news %}
            <table class="table">
                <thead>
                    <th>FB shares</th>
                    <th>VK shares</th>
                    <th>Attendances</th>
                </thead>
            {% for each in last_news %}
                <tr height="60px">
                     <td> {{ each.shares_fb_total }}</td>
                     <td> {{ each.shares_vk_total }}</td>
                     <td> {{ each.attendance }}</td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <a class="btn btn-block btn-success" href="{% url 'news:get_shares' %}">Get shares</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-block btn-success" href="{% url 'news:get_time' %}">Internet time</a>
        </div>
    </div>
{% endblock container %}