<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>News App</title>
</head>
<body>
    <div class="row container-fluid">
        <div class="col-md-3">
            {% if last_news %}
            <table class="table">
                <thead>
                    <th>Article title</th>
                </thead>
            {% for each in last_news %}
                <tr height="60px">
                    <td>{{ each.title }}</td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <a class="btn btn-block btn-success " href="{% url 'news:get_new' %}">Get news</a>
        </div>
        <div class="col-md-3">
            {% if last_news %}
            <table class="table">
                <thead>
                    <th>FB shares</th>
                    <th>VK shares</th>
                    <th>Attendances</th>
                </thead>
            {% for each in last_news %}
                <tr height="60px">
                     <td> {{ each.shares_fb_total}}</td>
                     <td> {{ each.shares_vk_total}}</td>
                     <td> {{ each.attendance }}</td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <a class="btn btn-block btn-success" href="{% url 'news:get_shares' %}">Get shares</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-success" href="#">News list</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-success" href="#">Internet time</a>
        </div>
    </div>
</body>
</html>