<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>News App</title>
</head>
<body>
    <div class="row container vertical-center-row">
        <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-block btn-success " href="#">Get news</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-block btn-success" href="#">Get shares</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-block btn-success" href="#">News list</a>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-block btn-success" href="#">Get internet time</a>
        </div>
    </div>
</body>
</html>